@model HTTP5101SchoolDbProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}
<a class="nav-back" href="/Teacher/List">Back to the list of Teachers</a>
<div id="teacherdetails">
    <h2>@Model.TeacherFname  @Model.TeacherLname</h2>
    <p>@Model.TeacherHiredDate</p>
    <p>@Model.TeacherSalary</p>
    <p>@Model.ClassCode</p>
    <p>@Model.ClassName</p>
</div>


